

<div class="search-container">
  <label class="search-label">Search Here</label>
  <input type="text" [(ngModel)]="inputValue" class="search-input">
  <button (click)="search(inputValue)" class="search-button">Search</button>
  <h3 *ngIf="typePresent" class="success-text">This book is present in the list.</h3>
  <h3 *ngIf="!typePresent && typePresent != undefined" class="error-text">This book is not present in the list.</h3>
</div>

<app-content-card [item]="contentItem"></app-content-card>

<div class="item-container no-type">
  <h2>Items with no type :</h2>
  <app-conetnt-card *ngFor="let item of contentArray | contentTypeFilter" class="item-card no-type-card" [item]="item">
    
  </app-conetnt-card>
</div>

<div class="item-container romance">
  <h2>Items with type 'Romance':</h2>
  <app-conetnt-card *ngFor="let item of contentArray | contentTypeFilter:'Romance'" class="item-card romance-card" [item]="item">
    
  </app-conetnt-card>
</div>
<div class="card-container">  
<div class="item-container thrill">
  <h2>Items with type 'Thrill':</h2>
  <app-conetnt-card *ngFor="let item of contentArray | contentTypeFilter:'Thrill'" class="item-card digital-card" [item]="item">
    
  </app-conetnt-card>
</div>
</div>